/*разобраться с стилями, по возмонжноости объеденить некоторые из них в одни классы*/

.input-container {
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;
}

.input-label {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  width: 240px;
  height: 25px;
  border-color: black;
  font-weight: 550;
}

.main-calculator {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  grid-gap: 3px;
}

.arithmetic-symbols {
  display: inline-grid;
  width: 60px;
  height: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  background-color: bisque;
  color: black;
}

.backspace {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  background-color: bisque;
  color: black;
}

/*почему начинается в первой и заканчивается в пятой, если их 4*/
.clear-button {
  grid-column: 1/5;
  display: inline-grid;
  height: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  background-color: bisque;
  color: black;
}

.arithmetic-symbols:hover {
  background-color: black;
  color: aliceblue;
}

.backspace:hover {
  background-color: black;
  color: aliceblue;
}

.clear-button:hover {
  background-color: black;
  color: aliceblue;
}
